# 规则
* 对于工具函数，需要在命名空间下，并添加注释
* 对于工具函数，需要添加单元测试
* 对于工具函数，都需要在 README.md 中添加简单说明

## 组件规则
* 示例
``` Sample.vue
<script setup lang="ts">

</script>

<template>
  <div>
    <h1>Hello World</h1>
  </div>
</template>
```