# 规则


## 函数规则
* 每个函数都需要单元测试，目录在 tests/ 下的对应目录下创建
* 需要在 README.md 中添加简单说明

## 组件规则
* 示例
``` Sample.vue
<script setup lang="ts">

</script>

<template>
  <div>
    <h1>Hello World</h1>
  </div>
</template>
```